AuthUserFile /srv/httpd/worldofsunglasses.com.br/public/.htpasswd
AuthType Basic
AuthName "Restrito"
Require valid-user


RewriteEngine On
RewriteBase /
RewriteRule ^([a-z]{6})/([a-z]{2,10})\.cfm$ contact/index\.php?id=$1-$2&%{QUERY_STRING} [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php?_route_=$1 [L,QSA]

