/**************TM BOX CATEGORY***********************/
aside .box.category {
  width: 100%;
  float: none;
  padding: 0;
}

.box.category {
  position: relative;
  overflow: visible;
}
* + .box.category {
  margin-top: 64px;
}
.box.category .category_menu > li {
  position: relative;
}
.box.category .category_menu > li > a {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  color: #8c95a4;
  line-height: 20px;
  padding: 13px 50px 12px 59px;
  margin-bottom: 5px;
}
.box.category .category_menu > li > a.children:after {
  font-family: 'material-design';
  content: '\e0c2';
  display: block;
  position: absolute;
  right: 48px;
  top: 2px;
  font-size: 39px;
  line-height: 39px;
  color: #d1d5db;
  transition: .3s color ease;
}
.box.category .category_menu > li > a:hover {
  color: #1571d6;
}
.box.category .category_menu > li > a:hover.children:after {
  color: #1571d6;
}
.box.category .category_menu > li:active > ul, .box.category .category_menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.common-home .box.category .category_menu > li > ul {
  left: 100%;
  top: -39px;
}

.box.category .category_menu > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
  background-color: #fff;
  width: 1013px;
  background: #f3f4f6;
  z-index: -1;
  display: block;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  overflow: hidden;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 10px;
}
.box.category .category_menu > li > ul:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -39px;
  bottom: -39px;
  width: 1px;
  background: transparent;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1200px) and (max-width: 1340px) {
  .box.category .category_menu > li > ul {
    width: 880px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .box.category .category_menu > li > ul {
    width: 680px;
  }
}
.box.category .category_menu > li > ul > li {
  display: block;
  float: left;
  list-style-type: none;
  width: 33%;
  position: relative;
  padding: 1px 10px;
}
.box.category .category_menu > li > ul > li:after {
  content: '';
  display: inline-block;
  width: 1px;
  background: #dee1e6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.box.category .category_menu > li > ul > li:first-child:after {
  display: none;
}
.box.category .category_menu > li > ul > li ul {
  list-style: none;
  padding: 0;
}
.box.category .category_menu > li > ul > li b {
  display: block;
}
.box.category .category_menu > li > ul > li a {
  padding: 16px 10px 16px 40px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}
.box.category .category_menu > li > ul > li a:hover {
  color: #fff;
  background: #1571d6;
}
@media (min-width: 768px) and (max-width: 991px) {
  .box.category .category_menu > li > ul {
    width: 455px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .box.category .category_menu > li > ul > li a {
    padding: 12px 10px 12px 10px;
  }
}
